crewai==0.19.0
crewai-tools==0.1.5
streamlit==1.29.0
langchain-fmp-data==0.1.0  # Change the version to 0.1.0
langchain-openai==0.0.8
python-dotenv==1.0.1
pandas==2.1.4
matplotlib==3.8.2
seaborn==0.13.2
pysqlite3-binary==0.5.2
